html {
  box-sizing: border-box;
  height: 100%;
}

::-webkit-scrollbar { 
  width: 0;
  -ms-overflow-style: none;
}

.header__title,
.header__experience,
.header__list-item,
.clients__list-item,
.companies__list-item,
.clients,
.companies,
.footer__list-item {
  line-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  letter-spacing: -0.01em;
  font-size: 16px;
  color:#1E1E1E;
  background-color: #E8E3DC
}

body:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(https://i.gifer.com/7LOu.gif);
    opacity: .05;
    z-index: 100000;
    pointer-events: none;
}


.wrapper {
  position: relative;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper::after {
  content: "";
  background-image: url('/img/bg-gif.gif');
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

a {
  color: inherit;
  text-decoration: none;
}
